*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 4vw;
}

.logo img {
  height: 34px;
}

.nav-links {
  display: flex;
  gap: 22px;
  list-style: none;
  padding-left: 5%;
  padding-right: 40%;
}

.nav-links li a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 16px;
}

.btn-contact {
  background: #e53935;
  color: #fff;
  border-radius: 8px;
  padding: 10px 24px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 16px;
  border: none;
  cursor: pointer;
}
/* CSS */
.hero {
  position: relative;
  min-width: 100%;
  min-height: 100%; /* Full screen height */
  background: url("/Assests/bloghero.png") no-repeat center center/cover; /* background image */

  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
  opacity: 1;

}
/* Dark Overlay */
.hero::before {
  content: "";
  position: absolute;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)); 
  /* background: rgba(0, 0, 0, 0.75);  */
  z-index: 1;
}

/* Heading */
.hero-content h1 {
  font-size: 42px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #f7f4f4;
  
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 1400px;
  text-align: center;
}

/* Heading */
.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #fff;
}

/* Search Bar */
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.search-bar input {
  width: 400px;
  padding: 12px 20px;
  border: none;
  border-radius: 30px 0 0 30px;
  font-size: 16px;
  outline: none;
}

.search-bar button {
  padding: 12px 20px;
  border: none;
  background: rgb(250, 250, 250);
  color: rgb(13, 12, 12);
  font-size: 16px;
  cursor: pointer;
  border-radius: 0 30px 30px 0;
}


/* Horizontal Scroll */
.scroll-bar {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 20px;
  -webkit-overflow-scrolling: touch;
}

.scrolling-link {
  display: flex;
  gap: 25px;
  flex-wrap: nowrap;
  /* padding-left: 10px;
  padding-right: 10px; */
  list-style: none;
  scroll-behavior: smooth;
}

.scrolling-link li {
  flex: 0 0 auto; /* prevent shrinking */
}

.scrolling-link li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
}

/* Optional: hide scrollbar */
.scroll-bar::-webkit-scrollbar {
  display: none;
}


.container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 30px 0;
}

.cloud-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cloud-header h1 {
  font-size: 35px;
}

.view-all {
  color: red;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.main-article {
 max-width: 600px;
  flex: 2;
  display: flex;
  flex-direction: column;
}

.main-article img {

  border-radius: 5px;

}

.main-article .category {
  color: red;
  font-weight: bold;
  font-size: 30px;
  margin: 10px 0 5px;
}

.main-article .date {
  font-size: 15px;
  color: #555;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid black;
  width: 120px;
  height: auto;

}

.main-article h2 {
  font-size: 32px;
  margin: 10px 0;
  color: #444;
  letter-spacing: 1px;

}

.main-article .description {
  font-size: 20px;
  color: #444;
  line-height:24.32px;
}

.related-posts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-card {
  display: flex;
  gap: 15px;
 
  padding: 10px;
  border-radius: 10px;
}

.post-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.post-content .category {
  color: red;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2px;
}

.post-content .date {
  font-size: 12px;
  color: #666;
  display: flex;
  align-items: center;
  border: 1px solid black;
  gap: 4px;
  width: 100px;
  padding: 5px;
  height: auto;
}

.recent-post-heading{
    display: flex;
  justify-content: space-between;
  align-items: center;

}

.post-content h3 {
  font-size: 25px;
  margin: 5px 0;
  color: #555;
}

.post-content p {
  font-size: 17px;
  color: #555;
}



.Recent-post{
  margin: 50px;
   width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 30px 0;
}



.Recent-post h1{
  color: #000;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 40px;
}

.recent-post h1::after {
  content: '';
  position: absolute;
  width: 1500px;
  height: 3px;
  background-color: #e53935;
  top:39px;
  left: 1;
}

/* news section */

.news-cards {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-top: 30px;
}

.card {

  overflow: hidden;
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  border: 1px solid  black;
  padding: 10px;
}

.card img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit:cover;

}

.card-info {
  position: relative;
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-date {
  top: -16px;
  left: 60px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid rgb(12, 12, 12);
  font-size: 12px;
  background:white;
  color: #090909;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px 20px;
  padding-right: 60px;
}

.card-date img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid beige;

}
.card-date span{
  font-size: 15px;
}

.card h3 {
  margin-top: 7px;
  font-size: 22px;
  margin: 0 20 20 0;
  color: #000;
}

.card p {
  margin-top: 10px;
  font-size: 18px;
  color: #121111;
  flex-grow: 1;
}



.card button {
  margin-top: 20px;
  padding: 10px 0; 
  width: 200px;   
  text-align: left; 
  padding-left: 10px; /* thoda space border aur text ke beech */
  font-size: 14px;
  border: 1px solid #333;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

.card button:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
}



.container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 30px 0;
}

.web-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cloud-header h1 {
  font-size: 35px;
}

.view-all {
  color: red;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.main-article {
 max-width: 600px;
  flex: 2;
  display: flex;
  flex-direction: column;
}

.main-article img {

  border-radius: 5px;

}

.main-article .category {
  color: red;
  font-weight: bold;
  font-size: 30px;
  margin: 10px 0 5px;
}

.main-article .date {
  font-size: 15px;
  color: #555;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid black;
  width: 120px;
  height: auto;

}

.main-article h2 {
  font-size: 25px;
  margin: 10px 0;
  color: #444;
  letter-spacing: 1px;

}

.main-article .description {
  font-size: 20px;
  color: #444;
  line-height:24.32px;
}

.related-posts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-card {
  display: flex;
  gap: 15px;
 
  padding: 10px;
  border-radius: 10px;
}

.post-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.post-content .category {
  color: red;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2px;
}

.post-content .date {
  font-size: 12px;
  color: #666;
  display: flex;
  align-items: center;
  border: 1px solid black;
  gap: 4px;
  width: 100px;
  padding: 5px;
  height: auto;
}

.recent-post-heading{
    display: flex;
  justify-content: space-between;
  align-items: center;

}

.post-content h3 {
  font-size: 25px;
  margin: 5px 0;
  color: #555;
}

.post-content p {
  font-size: 17px;
  color: #555;
}


.footer {
  margin-top: 60px;
  padding:60px 40px 60px 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;

  background: #111;
  color: white;
}
.footer-col img{
  padding: 10px;
  width: 30%;
  height: auto;
}

.footer h3 {
  margin-bottom: 10px;
  
}


.footer a {
  list-style: none;
  text-decoration: none;
  color: #ddd;
  font-size: 0.9rem;
}

.socials a {
  margin-right: 10px;
}
.footer ul {
  list-style: none;   /* remove bullets */
  padding: 0;         /* remove default left padding */
  margin: 0;          /* remove default margin */
}

.footer li {
  margin-bottom: 8px; /* spacing between links */
}

.footer a {
  text-decoration: none;
  color: #ddd;
  font-size: 20px;
}
.footer p{
  padding: 7px;
}

.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background: white;
  transition: 0.3s;
}

.social-icon svg {
  width: 18px;
  height: 18px;
  fill: black;   /* always solid black */
}

.social-icon:hover {
  background: black;
}

.social-icon:hover svg {
  fill: white;
}
.footer-bottom {
  grid-column: 1 / -1;   /* take full width under all cols */
  border-top: 1px solid #444;
  text-align: center;
  padding: 15px 0 0;
  margin-top: 20px;
  font-size: 0.9rem;
  color: #aaa;
}




