*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 4vw;
}

.logo img {
  height: 34px;
}

.nav-links {
  display: flex;
  gap: 22px;
  list-style: none;
  padding-left: 5%;
  padding-right: 40%;
}

.nav-links li a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 16px;
}

.btn-contact {
  background: #e53935;
  color: #fff;
  border-radius: 8px;
  padding: 10px 24px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 16px;
  border: none;
  cursor: pointer;
}

.hero {
  position: relative;
  min-width: 100%;
  min-height: 100%; /* Full screen height */
  background: url("/Assests/AboutUAass/hero.png") no-repeat center center/cover; /* background image */

  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
  opacity: 1;

}
/* Dark Overlay */
.hero::before {
  content: "";
  position: absolute;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)); 
  /* background: rgba(0, 0, 0, 0.75);  */
  z-index: 1;
}

/* Content Wrapper */
.hero-content {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
  max-width: 1100px;
 
  text-align: center;
}

/* Heading */
.hero-content h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #f7f4f4;
  margin-top: 20px;
  
}

/* Paragraphs */
.hero-content p {
  font-size: 20px;
 text-align: center;
 /* min-width: 700px; */
  line-height: 1.7;
  margin-bottom: 20px;
  color: #f5f5f5;
  min-width: 1200px;
}

.tech-section {
      
      margin: auto;
      margin: 30px;
      padding: 40px;
      
    }

    .tech-section h2 {
      font-size: 35px;

      text-align: left;
      margin-bottom: 20px;
      position: relative;
    }

    .tech-section h2::after {
      position: absolute;
      content: "";
      display: inline-block;
      width: 1100px;
      height: 4px;
      background: rgb(197, 52, 52);
      margin-left: 10px;
      
      top:30px;
    }

    /* Grid for logos */
    .tech-partners {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      gap: 15px;
      padding: 20px;
      background: #fff;
    }

    .tech-partner {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      border: 1px solid #dcd2d2;
      background: #fff;
      transition: 0.3s;
    }

    .tech-partner img {
      max-width: 100%;
      max-height: 80px;
      object-fit: contain;
    }

    .tech-partner:hover {
      border-color: #141211;
      transform: scale(1.05);
    }



    .security-section {
      margin: 30px;
      padding: 40px;
      
    }

    .security-section h1 {
      font-size: 35px;
     font-weight: bold;
      text-align: left;
      margin-bottom: 20px;
      position: relative;
    }

    .security-section h1::after {
      position: absolute;
      content: "";
      display: inline-block;
      width: 1100px;
      height: 4px;
      background: rgb(197, 52, 52);
      margin-left: 10px;
      top:30px;
    }

    /* Grid for logos */
    .security-parteners {
      display: flex;
      /* grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); */
      gap: 15px;
      padding: 20px;
      background: #fff;
    }

    .security-partener {
      display: flex;
      flex-wrap:nowrap;
      justify-content: center;
      align-items: center;
      padding: 15px;
      border: 1px solid #dcd2d2;
      background: #fff;
      transition: 0.3s;
    }

    .security-partener img {
      max-width: 100%;
      max-height: 60px;
      object-fit: contain;
    }

    .security-partener:hover {
      border-color: #292726;
      transform: scale(1.05);
    }
    

    .footer {
  padding:60px 40px 60px 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;

  background: #111;
  color: white;
}
.footer-col img{
  padding: 10px;
  width: 30%;
  height: auto;
}

.footer h3 {
  margin-bottom: 10px;
  
}


.footer a {
  list-style: none;
  text-decoration: none;
  color: #ddd;
  font-size: 0.9rem;
}

.socials a {
  margin-right: 10px;
}
.footer ul {
  list-style: none;   /* remove bullets */
  padding: 0;         /* remove default left padding */
  margin: 0;          /* remove default margin */
}

.footer li {
  margin-bottom: 8px; /* spacing between links */
}

.footer a {
  text-decoration: none;
  color: #ddd;
  font-size: 20px;
}
.footer p{
  padding: 7px;
}

.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background: white;
  transition: 0.3s;
}

.social-icon svg {
  width: 18px;
  height: 18px;
  fill: black;   /* always solid black */
}

.social-icon:hover {
  background: black;
}

.social-icon:hover svg {
  fill: white;
}
.footer-bottom {
  grid-column: 1 / -1;   /* take full width under all cols */
  border-top: 1px solid #444;
  text-align: center;
  padding: 15px 0 0;
  margin-top: 20px;
  font-size: 0.9rem;
  color: #aaa;
}

